body{
  margin:0;
  padding:0;
 font-size:16px;
  line-height:30px;
  font-family: "Arial", sans-serif;
  color:#404040;
  }
.center-norm{
width:800px;
margin: 0 auto;
}
.center-wide{
width:1015px;
margin: 0 auto;
}



/*Header*/



.page-header{
background:url("img/wheat-back.jpg") no-repeat bottom;
background-size:cover;
background-color:grey;
padding-top:60px;
}
.header-top-wrapper{
vertical-align:middle;
}

.header-logo{
float:left;
width:140px;
height:76px;
}
.logo{
width:140px;
height:76px;
}

.clearfix::after{
content:"";
clear:both;
display:table;
}

.main-nav{
list-style:none;
  margin:11px 0 6px 0;
  padding:0;
  float:right;
  width:600px;
  height:76px;
}
.main-nav li{
text-transform:uppercase;
display:inline-block;
border-top:1px solid rgba(255, 255, 255, 0.2);
border-bottom:1px solid rgba(255, 255, 255, 0.2);
padding:0 28px;
margin:0 -2.5px;
}
.main-nav li:first-child{
padding-left:0;
}
.main-nav li:last-child{
padding-right:0;
}

.main-nav li a{
  display:block;
font-size:16px;
color:#fff;
text-decoration:none;
padding:11px 0 2px 0;
font-weight:700;
  display: table-cell;
vertical-align: center;
}
.main-nav li a:hover{
color: #ffcb78;
}
.main-nav li a:active{
color: #ffcb78;
opacity:0.3;
}
.main-nav li:hover,
.main-nav li:active{
border-bottom:1px solid rgb(255, 255, 255);
}

.page-header p{
margin-top:152px;
  text-align:center;
  font-size: 70px;
line-height: 70px;
font-weight: 700;
  color:#fff;
  padding-bottom:151px;
}
