body{
  margin:0;
  padding:0;
 font-size:16px;
  line-height:30px;
  font-family: "Arial", sans-serif;
  color:#404040;
  }
.center-norm{
width:800px;
margin: 0 auto;
}
.center-wide{
width:1015px;
margin: 0 auto;
}

/*Header*/
.page-header{
background-image:url("img/wheat_backgroundjpg.png");
background-size:cover;
background-color:grey;
}
.page-header img{
margin-top:60px;
}

.main-nav{
list-style:none;
  margin:0;
  padding:0;
  float:right;
margin-top:70px;
}
.main-nav li{
text-transform:uppercase;
 display:inline-block;
  border-top:1px solid rgba(255, 255, 255, 0.2);
border-bottom:1px solid rgba(255, 255, 255, 0.2);
  margin:0 -2.4px;
}

.main-nav li a{
font-size:16px;
color:#fff;
text-decoration:none;
display:block;

padding:22px 23px 22px 23px;
  font-weight:700;
}
.page-header p{
margin-top:134px;
  text-align:center;
  font-size: 70px;
line-height: 70px;
font-weight: 700;
  color:#fff;
  margin-bottom:151px;
}
