body{
  margin:0;
  padding:0;
 font-size:16px;
  line-height:30px;
  font-family: "Arial", sans-serif;
  color:#404040;
  }

/*Header*/
.page-header{
background-image:url("img/wheat_backgroundjpg.png");
background-size:cover;
}
